.categories {
  .scroll-view {
    flex: 1;
    .categories-wrapper {
      border-radius: 11px;
      padding: 0 16px;
      background-color: var(--card);
    }
  }
  .new-category-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8px 0;

    .category-color {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      border-width: 3px;
      border-color: var(--border);
    }
    .new-category-input {
      color: var(--text);
      height: 40px;
      border-color: var(--border);
      background-color: var(--border);
      border-width: 1px;
      flex: 1;
      border-radius: 8px;
      padding-left: 8px;
      margin-left: 16px;
    }

    .btn-add {
      padding: 12px;
      color: var(--text);
    }
  }
}
