.tab-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: var(--card);
}

.tab-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  gap: 8px;
}

.tab-bar a {
  text-decoration: none;
  text-align: center;
  color: var(--text);
}
